/* ============================================================ */

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
}

header img {
  width: 100px;
  height: 100px;
}

a {
  font-size: 15px;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  color: rgba(0, 149, 255, 0.94);
  text-align: center;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  color: rgb(255, 189, 9);
}

img {
  width: 450px;
  height: 450px;
}

h2 span {
  font-size: 40px;
  color: rgba(0, 149, 255, 0.94);
}

p span {
  font-weight: 900;
  font-size: 40px;
  color: rgba(0, 149, 255, 0.94);
}

h2 span {
  color: rgba(0, 149, 255, 0.94);
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */